<div class="row mb-1">
  <h1>Quiz</h1>
</div>
<div class="row" *ngIf="questions.length == 0">
  <div class="col-md">Loading...</div>
</div>
<div class="row" *ngIf="questions.length > 0">
  <div class="col-md">
    <div
      class="mb-2"
      *ngFor="let question of questions; let questionId = index"
    >
      <app-question
        [question]="question"
        [questionId]="questionId"
        (updateSelectionEvent)="updateSelectedAnswer($event)"
      ></app-question>
    </div>
  </div>
</div>
<div class="row my-2" *ngIf="questions.length > 0">
  <div class="col-md-2">
    <button class="btn btn-primary" (click)="calculateScore()">Submit</button>
  </div>
</div>
<div class="row my-2">
  <div class="col-md-10" *ngIf="result">
    {{ result }}
  </div>
</div>
